<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>University Checker | User Management</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href= "{% static 'css/university.css' %}"/>
    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.5.x/dist/component.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
    <!-- Select2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css">  
    <!-- data table -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  </head>
  <body>
    <div x-data="setup()" x-init="$refs.loading.classList.add('hidden'); setColors(color);" :class="{ 'dark': isDark}">
      <div class="flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light">
        <!-- Loading screen -->
        <div
          x-ref="loading"
          class="fixed inset-0 z-50 flex items-center justify-center text-2xl font-semibold text-white bg-primary-darker"
        >
          Loading.....
        </div>

            <!-- Sidebar -->
            {% include "inc/sidebar.html"%}
        <!-- end Sidebar -->

        <div class="flex-1 h-full overflow-x-hidden overflow-y-auto">
          <!-- Header -->
          {% include "inc/header.html"%}

          <!-- Main content -->
          <main>
            <!-- Content header -->
            <div class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker">
              <h1 class="text-2xl font-semibold">User Management</h1>
            </div>

            <!-- select -->
            <div class="mt-2">

              <!-- Charts -->
              <div class="grid grid-cols-1 p-4 space-y-8 lg:gap-8 lg:space-y-0">
                <!-- Line chart card -->
                <div class="col-span-2 bg-white rounded-md dark:bg-darker" x-data="{ isOn: false }">
                  <!-- Card header -->
                  <div class="flex items-center justify-between p-4 border-b dark:border-primary">
                    <h4 class="text-lg font-semibold text-gray-500 dark:text-light">All users</h4>
                    <div class="flex items-center">
                     
                    </div>
                  </div>
                  <!-- Chart -->
                  <div class="relative p-4 h-full h-72">
                    <table id="example" class="display hover" style="width:100%">
                      <thead>
                        <tr>
                          <th class="">User Id</th>
                          <th>Full Name</th>
                          <th>Role</th>
                          <th>View</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody> 
                        <tr>    
                          <td class="" >
                              <div class="">12345</div>
                          </td>
                          <td class="" >
                              <div class="">KG Khathu </div>
                          </td>
                          <td class="">  
                              <div class="">Student</div> 
                          </td>
                          <td class=""> 
                            <a href="{% url 'university_checker:profile' %}" style="background-color: #4ade80;color: white;"class="mt-3 inline-flex 
                              justify-center rounded-md px-3 py-2 text-sm font-semibold text-w-900 shadow-sm ">View</a>                                                                     
                          </td>
                          <td class=""> 
                              <a href="#" style="background-color: #e53e3e;color: white;" id="open-btn" class="mt-3 inline-flex 
                              justify-center rounded-md px-3 py-2 text-sm font-semibold text-w-900 shadow-sm ">Deactivate</a>
                          </td>
                        </tr>   
                        <tr>    
                          <td class="" >
                              <div class="">12345</div>
                          </td>
                          <td class="" >
                              <div class="">KG Khathu </div>
                          </td>
                          <td class="">  
                              <div class="">Student</div> 
                          </td>
                          <td class=""> 
                          <a href="{% url 'university_checker:profile' %}" style="background-color: #4ade80;color: white;"class="mt-3 inline-flex 
                              justify-center rounded-md px-3 py-2 text-sm font-semibold text-w-900 shadow-sm ">View</a>
                          </td>
                          <td class=""> 
                              <a href="#" style="background-color: #e53e3e;color: white;" id="open-btn" class="mt-3 inline-flex 
                              justify-center rounded-md px-3 py-2 text-sm font-semibold text-w-900 shadow-sm ">Deactivate</a>
                          </td>
                        </tr>    
                        <tr>    
                          <td class="" >
                              <div class="">12345</div>
                          </td>
                          <td class="" >
                              <div class="">KG Khathu </div>
                          </td>
                          <td class="">  
                              <div class="">Student</div> 
                          </td>
                          <td class=""> 
                              <a href="{% url 'university_checker:profile' %}" style="background-color: #4ade80;color: white;"class="mt-3 inline-flex 
                              justify-center rounded-md px-3 py-2 text-sm font-semibold text-w-900 shadow-sm ">View</a>
                          </td>
                          <td class=""> 
                              <a href="#" style="background-color: #e53e3e;color: white;" id="open-btn" class="mt-3 inline-flex 
                              justify-center rounded-md px-3 py-2 text-sm font-semibold text-w-900 shadow-sm ">Deactivate</a>
                          </td>
                        </tr>  
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- modal -->
                <div id="modal" class="relative hidden z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                    <div class="fixed inset-0 z-10 overflow-y-auto">
                      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                        <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                            <div class="sm:flex sm:items-start">
                              <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                                <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                </svg>
                              </div>
                              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Deactivate account</h3>
                                <div class="mt-2">
                                  <p class="text-sm text-gray-500">Are you sure you want to Deactivate this account? All of the user data will be permanently removed. This action cannot be undone.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                            <button type="button" id="ok-btn" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Deactivate</button>
                            <button type="button" id="cancel-btn" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </main>
          {% include "inc/footer.html"%}
        </div>
      </div>
    </div>

    <!-- All javascript code in this project for now is just for demo DON'T RELY ON IT  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js"></script>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

    <script>
      const setup = () => {
        const getTheme = () => {
          if (window.localStorage.getItem('dark')) {
            return JSON.parse(window.localStorage.getItem('dark'))
          }

          return !!window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches
        }

        const setTheme = (value) => {
          window.localStorage.setItem('dark', value)
        }

        const getColor = () => {
          if (window.localStorage.getItem('color')) {
            return window.localStorage.getItem('color')
          }
          return 'blue'
        }

        const setColors = (color) => {
          const root = document.documentElement
          root.style.setProperty('--color-primary', `var(--color-${color})`)
          root.style.setProperty('--color-primary-50', `var(--color-${color}-50)`)
          root.style.setProperty('--color-primary-100', `var(--color-${color}-100)`)
          root.style.setProperty('--color-primary-light', `var(--color-${color}-light)`)
          root.style.setProperty('--color-primary-lighter', `var(--color-${color}-lighter)`)
          root.style.setProperty('--color-primary-dark', `var(--color-${color}-dark)`)
          root.style.setProperty('--color-primary-darker', `var(--color-${color}-darker)`)
          this.selectedColor = color
          window.localStorage.setItem('color', color)
          //
        }

       

        return {
          loading: true,
          isDark: getTheme(),
          toggleTheme() {
            this.isDark = !this.isDark
            setTheme(this.isDark)
          },
          setLightTheme() {
            this.isDark = false
            setTheme(this.isDark)
          },
          setDarkTheme() {
            this.isDark = true
            setTheme(this.isDark)
          },
          color: getColor(),
          selectedColor: 'blue',
          setColors,
          toggleSidbarMenu() {
            this.isSidebarOpen = !this.isSidebarOpen
          },
          isMobileSubMenuOpen: false,
          openMobileSubMenu() {
            this.isMobileSubMenuOpen = true
            this.$nextTick(() => {
              this.$refs.mobileSubMenu.focus()
            })
          },
          isMobileMainMenuOpen: false,
          openMobileMainMenu() {
            this.isMobileMainMenuOpen = true
            this.$nextTick(() => {
              this.$refs.mobileMainMenu.focus()
            })
          }
        }
      }
    let modal = document.getElementById('modal');
    let btn = document.getElementById('open-btn');
      let button = document.getElementById('ok-btn');
      let cancelBtn = document.getElementById('cancel-btn');

      btn.onclick = function () {
              modal.style.display = 'block';
          };

          button.onclick = function () {
              modal.style.display = 'none';
          };
          cancelBtn.onclick = function () {
              modal.style.display = 'none';
          };

    window.onclick = function (event) {
    if (event.target == modal) {
    modal.style.display = "none";
    }
    }
    </script>
  </body>

</html>
